@CHARSET "UTF-8";

.div_message {
display: inline-block;
height: 30px;
font-size: 16px;
font-family: Microsoft YaHei,"微软雅黑",Lucida,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,Droid Sans Fallback,SimSun,sans-serif;
width: 100%;
text-align: center;
}
